{:source-paths ["src"]

 :dependencies
 [[com.pitch/uix.core "1.0.1"]
  [com.pitch/uix.dom "1.0.1"]
  [binaryage/devtools "1.0.7"]
  [com.adamrenklint/preo "0.1.0"]
  [cider/cider-nrepl "0.44.0"]]

 :builds
 {:app {:output-dir "resources/public/js"
        :asset-path "/js"
        :target :browser
        :modules {:main {:init-fn client.client/main}}
        :devtools {:http-root "resources/public"
                   :http-port 8080}}}}
